@font-face {
  font-family: future-mood;
  src: url('./future\ mood.ttf');
}

@font-face {
  font-family: big-noodle;
  src: url('MavenPro-Regular.ttf');
}

:root {
  --bright-pink: rgb(226, 57, 139);
  --hover-expansion-duration: 0.2s;
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
}

body, button {
  font-family: big-noodle, 'Courier New', Courier, monospace;
  color: rgb(58, 30, 87);
}

.title {
  font-family: future-mood, 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-style: italic;
  text-shadow: -1px -1px 0 cadetblue,
  1px -1px 0 #000,
  -1px 1px 0 cadetblue,
  1px 1px 0 #000;;
  width: max-content;
}

.title, button {
  transition: color var(--hover-expansion-duration), 
    letter-spacing var(--hover-expansion-duration);
}

.title:hover, button:hover {
  color: var(--bright-pink);
  letter-spacing: 0.3ch;
  transition: color var(--hover-expansion-duration), 
    letter-spacing var(--hover-expansion-duration);
}

main {
  margin-top: 10px;
  display: flex;
  gap: 40px;
}

.search-form h1 {
  grid-column: 1 / -1;
}

h1, header {
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.search-form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin-bottom: 40px;
  border: 5px dashed rgb(59, 229, 212);
  padding: 10px;
}

#search-button {
  width: max-content;
  height: min-content;
}

.error-display {
  color: rgb(128, 0, 62)
}

.map-search-container {
  border: 5px dashed aquamarine;
  padding: 10px;
}

.results-container {
  border: 5px dashed rgb(26, 199, 193);
  padding: 10px;
  height: min-content;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.results-container > header {
  grid-column: 1 / -1;
  font-size: 1.3rem;
}

#map { 
  height: 400px; 
  width: auto;
  border: 5px dotted rgb(29, 220, 220);
  margin-bottom: 10px;
}

button {
  color: rgb(58, 30, 87); 
  padding: 3px 10px;
  border: 1px solid rgb(187, 209, 255);
  border-radius: 30px;
  background-color: aliceblue;
}

input, select {
  border-radius: 5px;
  border: 1px solid rebeccapurple;
  padding: 2px;
  background-color: white;
}

input:focus {
  outline: 1px solid rebeccapurple;
}

.loading {
  animation: 0.2s infinite alternate loading;
}

@keyframes loading {
  from {
    background-color: aliceblue;
    padding: 3px 5px;
  }

  to {
    background-color: hotpink;
    padding: 3px 10px;
  }
}

.result-graphic {
  width: 50px;
  height: 50px;
}